<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Contact uS</title>
  </head>
  <body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/in-logo-1.svg' %}" alt="" ></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a href="{% url 'contactus' %}" class="btn" style="color: white;"type="submit" id="header-links"> Contact Us </a>

          </div>
          
          <form class="d-flex" id="authstyle">
            {% if user.is_authenticated %}
              <a href="{% url 'profile' %}" class="btn" style="color: white; background-color: #0000FF;"type="submit" id="header-links"> Profile </a>
              <a href="{% url 'logout' %}" class="btn" style="color: white; background-color: #FF0000;"type="submit" id="header-links"> Logout </a>
            {% else %}
              <a href="{% url 'register' %}" class="btn" style="color: white; background-color: #00FF00;"type="submit" id="header-links"> Create Account </a>
              <a href="{% url 'login' %}" class="btn" style="color: white; background-color: ;#0000FF margin-left: 10px; "type="submit" id="header-links">Log In</a>
            {% endif %}
            </form>
        </div>
      </div>
  </nav>







    <div class="container my-3">
      <h3>Contact Us</h3>

      <form action="/contactus/" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">





    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
    </div>
  
      <div class="form-group">
      <label for="name">Phone</label>
      <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
    </div>
  
  
     <div class="form-group">
      <label for="desc">How May We Help You?</label>
      <textarea class="form-control" id="desc" name='desc' rows="3"></textarea>
    </div>
          <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  
  
  </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>